&#952;1: &nbsp;&nbsp;<span class="positionVal"><%= th1 %></span><br/>
d&#952;1: &nbsp;&nbsp;<span class="positionVal"><%= dth1 %></span><br/>
&#952;2: &nbsp;&nbsp;<span class="positionVal"><%= th2 %></span><br/>
d&#952;2: &nbsp;&nbsp;<span class="positionVal"><%= dth2 %></span><br/><br/>
K1: &nbsp;&nbsp;<span class="positionVal"><%= k1 %></span><br/>
D1: &nbsp;&nbsp;<span class="positionVal"><%= d1 %></span><br/><br/>
K2: &nbsp;&nbsp;<span class="positionVal"><%= k2 %></span><br/>
D2: &nbsp;&nbsp;<span class="positionVal"><%= d2 %></span><br/><br/>
