&#952;1: &nbsp;&nbsp;<span class="positionVal"><%= th1 %></span><br/>
d&#952;1: &nbsp;&nbsp;<span class="positionVal"><%= dth1 %></span><br/>
&#952;2: &nbsp;&nbsp;<span class="positionVal"><%= th2 %></span><br/>
d&#952;2: &nbsp;&nbsp;<span class="positionVal"><%= dth2 %></span><br/><br/>
K (swing up): &nbsp;&nbsp;<span class="positionVal"><%= swingUpK %></span><br/>
D (swing up): &nbsp;&nbsp;<span class="positionVal"><%= swingUpD %></span><br/>
P (desired &#952;): &nbsp;&nbsp;<span class="positionVal"><%= desiredThetaP %></span><br/>
P (soft limits): &nbsp;&nbsp;<span class="positionVal"><%= softLimitsP %></span><br/>
K (targeting): &nbsp;&nbsp;<span class="positionVal"><%= targetingK %></span><br/>
D (targeting): &nbsp;&nbsp;<span class="positionVal"><%= targetingD %></span><br/>
<br/>
