

body{
    margin:0;
}

#threeContainer {
    width: 100%;
    height: 100%;
}


#graphs {
    width: 400px;
    height: 100%;
    background: clear;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    padding: 20px 10px;
}

/*#menuWrapper{*/
    /*height: 100%;*/
    /*z-index: 2;*/
    /*position: absolute;*/
    /*display: block;*/
    /*background-color: rgba(255,255,255,0.8);*/
    /*overflow:hidden;*/
    /*width: 430px;*/
    /*top: 0;*/
    /*right: 0px;*//*initially showing*/
/*}*/

#controls {
    width: 430px;
    padding: 30px;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    /*right: 0;*/
    right: -430px;
    position: absolute;
    z-index: 2;
}

#incomingSerialMessage{
    background-color: white;
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    position: absolute;
}

.smoothieChart{
    width: 100%;
    height: 100px;
}